* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    display:flex;
    justify-content: center;
    background-color: aqua;
}

.firstContainer {
    display: flex;
    flex-direction: column;
}

.firstContainer input {
    margin-top: 100px;
    width: 50vw;
    border-style: none;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 11px 2px 52px -13px rgba(0,0,0,0.65);
-moz-box-shadow: 11px 2px 52px -13px rgba(0,0,0,0.65);
box-shadow: 11px 2px 52px -13px rgba(0,0,0,0.65);
}

.firstContainer ul {
    margin: 20px;

}

.pokeList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    overflow: hidden;
    overflow-y: auto;
    

}

